---
import MainLayout from "@layouts/MainLayout.astro";
import CartContents from "../components/cart/CartContents";
---

<MainLayout
  title="Your Cart | ShopAstro"
  description="View and manage items in your shopping cart."
>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <h1 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl mb-8">Shopping Cart</h1>
    
    <CartContents client:load />
  </div>
</MainLayout>
