---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import App from '../components/App.jsx';
import TailwindTest from '../components/TailwindTest.astro';
// No need to import global.css here as it's already in the Layout
---

<Layout>
    <div class="p-4 bg-gray-100">
        <h1 class="text-2xl font-bold text-center mb-4">Testing Tailwind in Astro</h1>
        <TailwindTest />
        <App />
        <Welcome />
    </div>
</Layout>